body
{
    font-family: sans-serif;
}

header {
    border-bottom: 1px solid black;
}

@media (min-width: 700px) {

    body
    {
        margin-left: auto;
        width: 700px;
        margin-right: auto;
        margin-bottom: 50px;
    }

    header {
        text-align: right;
    }
}

@media (max-width: 500px) {

    body {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }

    #col_fn, #col_edit, #col_view  {
        visibility: collapse;
    }
}

table {
    margin-top: 20px;
}

table tr td {
    border-bottom: 1px dotted black;
}

table tr.strike td {
    text-decoration: line-through;
}

.toelichting {
    font-style: italic;
}

.groen {
    color: green;
}

.rood {
    color: red;
}

ul.dragdrop {
    border: 1px dotted black;
    list-style: none;
}

ul.dragdrop li {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

div.exercise {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
}

div.vraag {
    font-weight: bold;
}

ul.tags li {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-stretch: ultra-condensed;
    display: inline-block;
    border: 1px solid black;
    width: 150px;
}



