body
{
    margin-left: auto;
    width: 700px;
    margin-right: auto;
    margin-bottom: 50px;
    font-family: sans-serif;
}

header {
    border-bottom: 1px solid black;
    text-align: right;
}

table {
    margin-top: 20px;
}

table tr td {
    border-bottom: 1px dotted black;
}

table tr.strike td {
    text-decoration: line-through;
}

.toelichting {
    font-style: italic;
}

.groen {
    color: green;
}

.rood {
    color: red;
}

ul.dragdrop {
    border: 1px dotted black;
    list-style: none;
}

ul.dragdrop li {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    height: 40px;
    border: 1px solid black;
    text-align: center;
}

div.exercise {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted gray;
}

div.vraag {
    font-weight: bold;
}


